<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Clip Library</title>
  <script>if (window.self !== window.top) document.documentElement.classList.add("embedded");</script>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css">
  <link rel="stylesheet" href="/static/library.css">
</head>
<body>
{% include "_library_panel.html" %}
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
  <script src="https://unpkg.com/leaflet.heat@0.2.0/dist/leaflet-heat.js"></script>
  <script src="/static/toast.js"></script>
  <script src="/bundle/library.js"></script>
</body>
</html>
